body {
  box-sizing: border-box;
}

.stacked-card,
.stacked-card * {
  box-sizing: border-box;
}

.stacked-card {
  border-radius: 12px;
  display: flex;
  flex-direction: column; /* Change to column for better mobile layout */
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; /* Adjust width to fit the screen */
  max-width: 400px; /* Set a max-width for larger screens */
  margin: 0 auto; /* Center the card */
  position: relative;
}

.content {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.header {
  padding: 12px 4px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}

.content2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.background {
  background: var(--schemes-primary-container, #eaddff);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.initial {
  color: var(--schemes-on-primary-container, #4f378a);
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%; /* Adjust width to fit the screen */
  position: relative;
}

.header2 {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}

.subhead {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.icon-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}

.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.state-layer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.media {
  align-self: stretch;
  flex-shrink: 0;
  height: 188px;
  position: relative;
}

.media2 {
  height: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}

.text-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px; /* Reduce gap for smaller screens */
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.title {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
  width: 100%; /* Adjust width to fit the screen */
}

.subhead2 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  width: 100%; /* Adjust width to fit the screen */
}

.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var (--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.secondary-action {
  border-radius: 100px;
  border-style: solid;
  border-color: var(--schemes-outline, #79747e);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.state-layer2 {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.label-text {
  color: var(--schemes-primary, #65558f);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-action {
  background: var(--schemes-primary, #65558f);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.label-text2 {
  color: var(--schemes-on-primary, #ffffff);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var (--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background2 {
  background: var(--schemes-surface, #fef7ff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--schemes-outline-variant, #cac4d0);
  border-width: 1px;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}

.state-layer3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}